*{
    padding: 0%;
    margin: 0% ;
}
body
{
    background-color:rgb(3, 16, 35);
}

header
{
    background-image:url("../img/musiquefond2.jpg");
    width: 100%;
    box-shadow: 0 0 17px 0 whitesmoke ;
    padding: 2px;
    height: 200px;
    
}


.pag
{
    width: 90%;
    margin: 5px auto;
}

.pag h1
{
    font-family: cursive;
    text-align: center;
    font-size: 4rem;
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 5px;
    color: whitesmoke;
}

.pag .bannier
{
    width: 94%;
    height: 200px;
    border-radius: 3%;
    margin: auto;
    box-shadow: whitesmoke;

  
}

.pag .bannier img
{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}



.pag .bouttons
{
    display: flex;
    margin-left: 72%;
    margin-top: 3%;
    justify-content: space-between;
}

.pag .bouttons a
{
    color: whitesmoke;
    background-color:rgb(189, 33, 85); 
    text-transform: none;
    text-decoration: none;
    font-size: 1rem;
    font-family: monospace;
    border: solid 0.1px black;
}

.pag .bouttons a :hover
{
    color: darkblue;
    background-color:rgb(117, 162, 247); ;
}

.pag .bouttons a :active
{
    color: darkblue;
    background-color:rgb(117, 162, 247); 
}
.pag .bouttons a :focus
{
    color: darkblue;
    background-color:rgb(163, 190, 241); 
}

.pag .bloc
{
    display: flex; 
    justify-content: space-around;
    margin-top: 5%;
    
}

.pag .bloc .aside
{
    width: 50%;
    background-color: rgba(3, 16, 35, 0.644); 
    align-content: space-around;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5%;
    color: rgb(189, 33, 85);
}

.pag .bloc .aside h2
{
    text-align: left;
    font-family: monospace;
    margin: 5%;
}

.pag .bloc .aside p
{
    text-align: left;
    font-family: monospace;
    font-weight: bolder;
    margin-left: 4%;
}

.pag .bloc .aside audio
{
    margin: 3%;
    width: 60%;
}

.pag .bloc .corps
{
    width: 50%;
    background-color:rgba(3, 16, 35, 0.644); 

}

.pag .bloc .corps .globe
{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.pag .bloc .corps .globe .droite
{
    width: 90%;
   
}
.pag .bloc .corps .globe .droite img
{
    width: 100%;
    height: 100%;
    margin-top: 7%;
}

.page
{
    background-color: rgba(3, 16, 35, 0.644); 
    height: 70px;
}

 .pages
{
    width: 100%;
    height: 200px;
    margin-top: 40px;
    display: flex;
    
}

.pages img
{
    width: 17%;
}