*{
    padding: 0%;
    margin: 0% ;
}
body
{
    background: linear-gradient(90deg,rgb(189, 33, 85),#8E44ad);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*overflow: hidden;*/
}

.center
{
    width: 70%;
    margin-left:14.8% ;
    margin-top: 5%;
    margin-bottom: 5%;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 17px 0 yellow
}

.center h1
{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}

.center form
{
    padding: 0 40px;
    box-sizing: border-box;

}

form .txt_field
{
    position: relative;
    border-bottom: 2px #4e4a4a;
    margin: 30px 0;
}

.txt_field input
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    font-size: 16px;
    background: none;
    outline: none;
}
 input[type="date"]
{
    text-align: right;
}
.txt_field label
{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #8E44ad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.clo
{
    display: flex;
    
}

.sex
{
    display: flex;
    align-content: space-around;
    width: 20%;
    margin-left: 20%;
}

.sex label
{
    color: #8E44ad;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 20%;

}
.p
{
    display: flex;
    align-content: space-around;
    width: 20%;
    margin-left: 22%;
}
.p label
{
    color: #8E44ad;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 62%;

}
.txt_field span::before
{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(189, 33, 85);
    transition:.5s;

}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label
{
    top: -5px;
    color: rgb(189, 33, 85);
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before
{
    width: 100%;

}

.pass
{
    margin: -5px 0 20px 5px;
    color: rgb(189, 33, 85);
    cursor: pointer;
}

.pass:hover
{
    text-decoration: underline;

}

input[type="submit"]
{
    width: 100%;
    height: 50px;
    margin-top: 4%;
    margin-bottom: 4%;
    border: 1px solid;
    background: linear-gradient(90deg,rgb(189, 33, 85),#8E44ad);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4Fb;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover
{
    border-color: #2691d9;
    transition: .5s;
}

.sig
{
    margin: 30px 0;
    text-align: center;
    font-size: 18px;
    color: #666666;
    margin-bottom: 4%;
}

.sig a
{
    color: #2691d9;
    text-decoration: none; 
}

.sig a:hover
{
    text-decoration: underline;

}

@media screen and (max-width: 900px)
{
    .center
{
    width: 94%;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 5%;
}
}